<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref ="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ventas</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding id="item">

  <ion-list>
    <ion-item-sliding *ngFor ="let ventas of ventas">
      <ion-item lines = "inset"  buttom [routerLink]= "['/detalle-v', ventas.idd]">
        <ion-label>
          {{ventas.nombrep}}
        </ion-label>
        <ion-label>
          {{ventas.fecha}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(item)" color="secondary">
          <ion-icon name="checkmark" slot="end" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/detalle-v" routerDirection="forward">
  <ion-icon name ="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

