#item ion-input , ion-item{
    padding-left: 20px;
    padding-right: 20px;
    }  
  
  
  
  .icon{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding-top : 24px;
  }

  #boton {
    text-align: center;
  }
  
  #boton ion-button {
    padding-left: 20px;
    padding-right: 20px;
  }
