<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

  

  <div id="container" >

    <ion-list>

      <ion-item lines = "none" [routerLink]= "['/rproductos']">
          <ion-img src="https://image.flaticon.com/icons/svg/1246/1246234.svg">
          </ion-img>  
        <div>
          <ion-label position="fixed">
             Productos   
          </ion-label>
        </div>      
      </ion-item>

      <ion-item lines = "none" [routerLink]= "['/mantenimientos']">
        <ion-img src="https://image.flaticon.com/icons/png/512/1743/1743705.png">
        </ion-img> 
        <div>
          <ion-label class="ion-text-wrap">
            Mantenimientos
          </ion-label>
        </div>
      </ion-item>

      
      
    </ion-list>

    <!--
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    -->



  </div>

</ion-content>
